# Import The Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   
import seaborn as sns
import statsmodels.api as sn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [30]:
df = pd.read_csv('train.csv',header=0)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

# Dropping Unnecessary Columns

In [7]:
cols = ['Name','Ticket','Cabin']
df = df.drop(cols,axis=1)

# Deleting Missing values

In [8]:
df = df.dropna()

In [12]:
dummies=[]
cols = ['Pclass','Sex','Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

In [13]:
titanic_dummies = pd.concat(dummies, axis=1)

# we converted Pclass, Sex, Embarked values into columns, we drop the redundant same columns from the dataframe

In [14]:
df = df.drop(['Pclass','Sex','Embarked'],axis=1)

# New Data Frame

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 6 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
dtypes: float64(2), int64(4)
memory usage: 38.9 KB

# Deleting missing values from Age column

In [16]:
df['Age'] = df['Age'].interpolate()

In [17]:
X = df.values
y = df['Survived'].values

In [18]:
X = np.delete(X,1,axis=1)

# Now that we are ready with X and y, lets split the dataset for 70% Training and  30% test set using scikit cross validation

In [20]:
from sklearn import cross_validation
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size=0.3,random_state=0)

C:\Users\Yash\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Applying Decision Tree Classifier

In [21]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=5)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.677570093457944

# Now Applying Random Forest

In [22]:
clf.feature_importances_

array([0.19295837, 0.28645895, 0.07865635, 0.01806569, 0.42386063])

In [23]:
from sklearn import ensemble
clf = ensemble.RandomForestClassifier(n_estimators=100)
clf.fit (X_train, y_train)
clf.score (X_test, y_test)

0.6401869158878505

# Applying Gradient boosting algorithm

In [24]:
clf = ensemble.GradientBoostingClassifier()
clf.fit (X_train, y_train)
clf.score (X_test, y_test)

0.6401869158878505

In [28]:
clf = ensemble.GradientBoostingClassifier(n_estimators=50)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.6588785046728972

# So we have applied some algorithms for finding the accuracy and we got approx great accuracy in compair to each other.